@import "design_system"

* 
    padding: 0
    margin: 0
    box-sizing: border-box
    user-select: none

html
    font-family: $family 
    overflow-x: hidden 

.header
    display: flex
    justify-content: space-around

.title
    @include font(bold, heading)
    font-size: $title
    padding-top: $large
    padding-bottom: $small

.subtitle
    @include font
    padding-bottom: $large
    margin: 0 $medium

.blob-container
    @include blob

.modules
    padding-bottom: $extra-large

    .tiles
        justify-content: space-evenly

.heading
    @include font(bold, heading)
    font-size: $heading
    padding: $extra-large 0
    margin: 0 $medium

.tiles
    display: flex  

.module
    display: flex
    flex-direction: column
    align-items: center
    margin: $medium

.vector
    @include vector
    margin-bottom: $medium

.name
    @include font
    font-size: $name

.author
    color: $white
    padding-bottom: $extra-large

    .tiles
        align-items: center
        justify-content: center 

.photo
    @include photo-background
    border-radius: 50% 50% 70% 30% / 30% 30% 70% 70% 
    margin-left: $extra-large

.paragraphs
    margin: 0 $extra-large

.paragraph
    @include font
    margin: $large 0

.buttons
    display: flex
    justify-content: space-around
    margin: $extra-large 0

button
    background-color: transparent 
    border: none

.button
    @include font
    @include button 
    margin: 0 $medium 
    border: 4px solid transparent
    
        
.documentation
    transition: .25s all ease

    &:hover
        border-color: $black

.library
    transition: .25s all ease

    &:hover
        border-color: $white

footer .paragraph
    @include font($purpose: footer)
    margin: $medium

@media (max-width: 1300px)
    .author .tiles
        flex-direction: column
        gap: $large

    .photo
        margin: 0

@media (max-width: 1060px)
    .buttons
        flex-direction: column
        margin: 0

    .button
        display: block
        margin: $medium

@media (max-width: 1024px)    
    .title
        font-size: $heading
    
    .subtitle
        font-size: $name / 2 

    .blob-container
        position: absolute 
        z-index: -1

    .left
        rotate: -90deg
        left: 0

    .right
        rotate: 90deg
        right: 0

    .heading
        font-size: $name
        padding: $large 0

    .modules
        padding-bottom: 0
    
    .modules .tiles
        flex-direction: column

    .module
        flex-direction: row 
        justify-content: center
        border-bottom: 4px solid $black 
        margin-top: $large

    @media (prefers-color-scheme: dark)
        .module
            border-bottom: 4px solid $white

    .module:first-child
        margin-top: 0

    .module:last-child
        border-bottom: none

    .name
        margin-left: $large
        margin-bottom: $medium

@media (max-width: 768px)
    .name
        margin-left: $small

    .author .tiles
        gap: 0

    .paragraphs
        margin: 0 $medium

    .photo
        transform: scale(.75)

    .button
        padding: $small $medium

@media (max-width: 425px)
    .left
        display: none

    .right
        rotate: 0deg
        left: 15%

    .name 
        font-size: $name * 2/3

// optimized for screens >320px and <2560px   

@media (prefers-color-scheme: light)
    html
        color: $black
        background-color: $white

    .documentation
        background-color: $yellow 
        color: $black

    .library
        background-color: $pink
        color: $white

    .modules
        background-color: $yellow

    .author
        background-color: $pink

    .blob
        fill: $pink

@media (prefers-color-scheme: dark)
    html 
        color: $white
        background-color: $black

    .documentation
        color: $white 
        background-color: darken($yellow, 20%)

    .library
        background-color: darken($pink, 20%)
        color: $white

    .modules
        background-color: darken($yellow, 20%)

    .author
        background-color: darken($pink, 20%)

    .blob
        fill: darken($pink, 20%)
